<hello name="{{ name }}"></hello>
<div>
  <div>
  Question 1, Part 1:
  <button (click)=processQ1P1()> Q1 part 1</button>
  {{q1_1out}}
  </div>
  <br>
  <div>
  Question 1, Part 2:
  <button (click)=processQ1P2()> Q1 part 2</button>
  {{q1_2out}}
  <div>
  <br>
  <div>
  Question 4, Part 1:
  <button (click)=processQ4P1()> Q4 part 1</button>
  {{q4_1out}}
  <div>
  <br>
  <div>
  Question 4, Part 2:
  <button (click)=processQ4P2()> Q4 part 2</button>
  {{q4_2out}}
  <div>
     <br>
  <div>
  Question 10, Part 1:
  <button (click)=processQ10P1()> Q10 part 1</button>
  {{q10_1out}}
  <div>
  <br>
  <div>
  Question 10, Part 2:
  <button (click)=processQ10P2()> Q10 part 2</button>
  {{q10_2out}}
  <div>
</div>`